Problem 1: Unique Words in a Sentence
Problem Statement
Given a sentence, identify all unique words and display:
The count of unique words
The unique words themselves
Hint
Split the sentence into individual words.
Convert the list of words into a set to remove duplicates.
Print both the set and its length.
Input
Enter sentence: python is easy and python is powerful

Expected Output
Unique words count: 5  
Unique words: {'python', 'is', 'easy', 'and', 'powerful'}

In [1]:
#input from user
sentence = input("Enter sentence: ")

# Splitting sentence into words
words = sentence.split()

# Converting to set
unique_words = set(words)

# Display the results
print(f"Unique words count: {len(unique_words)}")
print(f"Unique words: {unique_words}")

Enter sentence: python is easy and python is powerful
Unique words count: 5
Unique words: {'easy', 'and', 'powerful', 'is', 'python'}

Problem 2: Highest Salary from Employee Data
Problem Statement
Store employee names and their salaries, and determine which employee has the highest salary.
Hint
Use a dictionary where the key is the employee name and the value is the salary.
Compare salary values to find the highest.
Input Format
A dictionary where:
Keys represent employee names
Values represent employee salaries
Example Input
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

Expected Output
Highest Salary: Ravi - 75000

In [12]:
# Employee data
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
# Initialize variables to track highest salary
max_salary = 0
top_employee = ""
# Iterate through dictionary
for name, salary in employees.items():
    if salary > max_salary:
        max_salary = salary
        top_employee = name

# Display result
print(f"Highest Salary: {top_employee} - {max_salary}")

Highest Salary: Ravi - 75000

Problem 3: Find Maximum and Minimum Values
Problem Statement
Find the maximum and minimum values from a list of numbers.
Hint
Initialize both maximum and minimum with the first element of the list.
Use a loop to compare each element.
Input Format
A list of integers where each element represents a numeric value.
Example Input
numbers = [45, 22, 89, 10, 66]

Expected Output
List: [45, 22, 89, 10, 66]  
Max: 89  
Min: 10

In [14]:
# List of numbers
numbers = [45, 22, 89, 10, 66]

# Initialize max and min with first element
maximum = numbers[0]
minimum = numbers[0]

# Loop through the list and compare
for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num
# Display results
print(f"List: {numbers}")
print(f"Max: {maximum}")
print(f"Min: {minimum}")

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

Problem 4: Count Products Above a Price Threshold
Problem Statement
Count how many products have a price greater than 1000.
Hint
Use a loop to compare each price with 1000.
Input Format
A list of integers where each element represents the price of a product.
Example Input
prices = [450, 1200, 899, 1500, 300]

Expected Output
Products above 1000: 2

In [13]:
# List of prices
prices = [450, 1200, 899, 1500, 300]

# Initialize counter
count = 0

# Loop through prices and count those above 1000
for price in prices:
    if price > 1000:
        count += 1

# Display result
print(f"Products above 1000: {count}")

Products above 1000: 2

Problem 5: Calculate Attendance Percentage
Problem Statement
Calculate the attendance percentage from a list containing "P" (Present) and "A" (Absent).
Hint
Count the number of "P" values.
Divide by the total number of days.
Example Input
attendance = ["P", "P", "A", "P", "P"]

Expected Output
Attendance Percentage: 80.0

In [17]:
# Attendance list
attendance = ["P", "P", "A", "P", "P"]

# Initialize counter for present days
present_days = 0

# Count "P" values
for day in attendance:
    if day == "P":
        present_days += 1

# Calculate total days
total_days = len(attendance)

# Calculate percentage
percentage = (present_days / total_days) * 100

# Display result
print(f"Attendance Percentage: {percentage}")

Attendance Percentage: 80.0

Problem 6: Remove Duplicate Phone Numbers
Problem Statement
You are given a list of phone numbers that may contain duplicates. Write a Python program to remove duplicate phone numbers and display only the unique phone numbers.
Hint
* Convert the list into a set.
* Sets automatically remove duplicate values.
Input Format
A list of integers where each integer represents a phone number.
Example Input
phone_numbers = [9876543210, 9123456789, 9876543210]
Expected Output
Unique phone numbers: {9876543210, 9123456789}

In [19]:
# List of phone numbers
phone_numbers = [9876543210, 9123456789, 9876543210]

# Convert to set to remove duplicates
unique_numbers = set(phone_numbers)

# Display result
print(f"Unique phone numbers: {unique_numbers}")

Unique phone numbers: {9876543210, 9123456789}

Problem 7: Count Character Frequency
Problem Statement
Count how many times each character appears in a given string.
Hint
Use a dictionary.
Increment the count for each character occurrence.
Expected Output
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [18]:
# Input string
text = "python"

# Initialize empty dictionary
char_count = {}

# Count each character
for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

# Display result
print(char_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

Problem 8: Convert List to Tuple
Problem Statement
Convert a list into a tuple and display it.
Hint
Use the tuple() function.
Expected Output
Tuple: (10, 20, 30)

In [20]:
# List of numbers
numbers = [10, 20, 30]

# Convert list to tuple
numbers_tuple = tuple(numbers)

# Display result
print(f"Tuple: {numbers_tuple}")

Tuple: (10, 20, 30)

Problem 9: Check if a Key Exists in a Dictionary
Problem Statement
Check whether a specific key exists in a dictionary.
Hint
Use the in keyword.
Expected Output
Employee exists

In [21]:
# Dictionary of employees
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Check if key exists
key_to_check = "Ravi"

if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

Problem 10: Calculate Average Marks
Problem Statement
Calculate the average marks of a student from a list of marks.
Hint
Calculate the sum of all values.
Divide by the total number of marks.
Expected Output
Average Marks: 72.5

In [22]:
# List of marks
marks = [85, 90, 65, 50]

# Calculate sum using loop
total = 0
for mark in marks:
    total += mark

# Calculate average
average = total / len(marks)

# Display result
print(f"Average Marks: {average}")

Average Marks: 72.5